In [1]:
from haversine import haversine, Unit
import pandas as pd
import numpy as np
import time

In [2]:
df_standard = pd.read_csv('마포구 부동산 유동인구.csv')
#df_standard

In [3]:
df_bus = pd.read_csv('서울시_버스정류장.csv',encoding='cp949')
df_parking = pd.read_csv('서울시_공영주차장.csv')
df_cafe = pd.read_csv('서울시 카페.csv')
df_bicycle = pd.read_csv('서울시_자전거대여소.csv',encoding='cp949')
df_subway = pd.read_csv('지하철역_좌표.csv')
df_school = pd.read_csv('서울시학교.csv')
df_store = pd.read_csv('서울시 소모품점.csv')
df_restaurant = pd.read_csv('서울시 음식점.csv')

In [4]:
def return_N(standard_lat, standard_long, compare_lat, compare_long):
  result = []
  for i in range(len(standard_lat)):
    z = []
    standard = (standard_lat[i], standard_long[i])
    for j in range(len(compare_lat)):
      compare = (compare_lat[j], compare_long[j])
      x = haversine(standard, compare, unit='m') <= 500
      z.append(x)
    result.append(sum(z))
  return result

In [5]:
standard_lat = np.array(df_standard.latitude.values)
standard_long = np.array(df_standard.longitude.values)

In [6]:
%%time
#df_bus

compare_lat = np.array(df_bus.Y좌표.values)
compare_long = np.array(df_bus.X좌표.values)

df_standard['bus_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 2min 40s

In [7]:
df_parking = df_parking.drop(df_parking.loc[df_parking["longitude"] >=180].index)
df_parking = df_parking.drop(df_parking.loc[df_parking["latitude"] >=90].index)

In [8]:
%%time
#df_parking

compare_lat = np.array(df_parking.latitude.values)
compare_long = np.array(df_parking.longitude.values)

df_standard['parking_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 4min 5s

In [9]:
%%time
#df_cafe

compare_lat = np.array(df_cafe.latitude.values)
compare_long = np.array(df_cafe.longitude.values)

df_standard['cafe_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 1min 49s

In [10]:
%%time
#df_bicycle

compare_lat = np.array(df_bicycle.y.values)
compare_long = np.array(df_bicycle.x.values)

df_standard['bicycle_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 37.8 s

In [11]:
%%time
#df_subway

df_compare = df_subway.T
df_compare.columns=['latitude','longitude']
df_compare = df_compare.drop('Unnamed: 0', axis=0)

compare_lat = np.array(df_compare.latitude.values)
compare_long = np.array(df_compare.longitude.values)

df_standard['subway_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 8.35 s

In [12]:
def return_d(standard_lat, standard_long, compare_lat, compare_long):
  result = []
  for i in range(len(standard_lat)):
    z = []
    standard = (standard_lat[i], standard_long[i])
    for j in range(len(compare_lat)):
      compare = (compare_lat[j], compare_long[j])
      x = haversine(standard, compare, unit='m')
      z.append(x)
    result.append(min(z))
  return result

In [13]:
%%time
#df_subway

df_compare = df_subway.T
df_compare.columns=['latitude','longitude']
df_compare = df_compare.drop('Unnamed: 0', axis=0)

compare_lat = np.array(df_compare.latitude.values)
compare_long = np.array(df_compare.longitude.values)

df_standard['subway_d'] = return_d(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 9.12 s

In [14]:
%%time
#df_school

compare_lat = np.array(df_school.위도.values)
compare_long = np.array(df_school.경도.values)

df_standard['school_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 38 s

In [15]:
%%time
#df_store

compare_lat = np.array(df_store.latitude.values)
compare_long = np.array(df_store.longitude.values)

df_standard['store_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 3min 15s

In [16]:
%%time
#df_restauran

compare_lat = np.array(df_restaurant.latitude.values)
compare_long = np.array(df_restaurant.longitude.values)

df_standard['rest_N'] = return_N(standard_lat, standard_long, compare_lat, compare_long)

Wall time: 1min 41s

In [17]:
df_standard

,tradeTypeName,rentPrc,dealOrWarrantPrc,area2,floorInfo,direction,latitude,longitude,flow_pop,bus_N,parking_N,cafe_N,bicycle_N,subway_N,subway_d,school_N,store_N,rest_N
0,월세,800,1억,151,1/10,남향,37.577010,126.896961,316,23,2,4,10,2,356.834399,2,11,5
1,월세,340,"4,000",78,1/3,서향,37.577000,126.896647,316,27,2,4,9,2,384.224754,2,10,4
2,매매,0,"12억 5,000",42,1/22,북향,37.544876,126.947963,4339,36,2,12,6,1,333.870357,10,25,15
3,월세,290,"3,000",154,2/4,북향,37.577464,126.893779,316,22,8,2,9,1,408.841842,2,8,2
4,월세,300,"7,000",71,B1/37,남향,37.540049,126.945477,1900,28,44,1,4,1,66.325748,4,19,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,월세,180,"2,000",80,1/5,서향,37.555477,126.913090,867,30,84,27,3,1,276.451336,8,53,30
1793,매매,0,64억,505,1/14,남향,37.553712,126.954696,1978,19,1,5,6,2,187.257005,8,9,6
1794,월세,140,"2,000",45,1/3,북향,37.541508,126.955320,7980,41,2,4,5,1,431.196142,2,9,2
1795,월세,200,"2,000",39,B1/2,남동향,37.554436,126.927052,1471,39,108,28,4,1,340.016502,2,49,25
1796,월세,100,"1,000",39,1/1,동향,37.555842,126.955086,969,21,0,7,6,2,191.258619,8,7,2

In [18]:
df_standard.to_csv('rs_dataframe.csv')