In [6]:
import pandas as pd
import numpy as np
import json
from tqdm import tqdm
import time
from multiprocessing import Pool
import get_estate

In [2]:
url = 'https://new.land.naver.com/api/articles'

In [3]:
params  = {'page' : 0,
          "cortarNo" : 1144000000 } #마포구
headers = {
"Accept-Encoding": "gzip, deflate, br",
"Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
"authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2NTY2NTA3OTgsImV4cCI6MTY1NjY2MTU5OH0.zp9pWC_Glyk_T6MElmZytijcvFLbI9qbL7N0PPq4_ao",
"Connection": "keep-alive",
"Host": "new.land.naver.com",
"Referer": "https://new.land.naver.com/offices?ms=37.5751146,126.8983807,15",
"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36"
}

In [12]:
if __name__ ==  '__main__':
    start_time = time.time()
    num_processors = 8
    p=Pool(processes = num_processors)
    output = p.map(get_estate.get_estate,range(0,1500))
    print("--- elapsed time %s seconds ---" % (time.time() - start_time))

--- elapsed time 132.55918622016907 seconds ---

In [15]:
data = []

In [16]:
for i in output:
    data.extend(i)

In [18]:
import pandas as pd
data_pd = pd.DataFrame(data)

In [19]:
data_pd

,articleNo,articleName,articleStatus,realEstateTypeCode,realEstateTypeName,articleRealEstateTypeCode,articleRealEstateTypeName,tradeTypeCode,tradeTypeName,verificationTypeCode,...,sellerName,sellerPhoneNum,sameAddrPremiumMin,sameAddrPremiumMax,tradeDealPrice,tradeDepositPrice,tradeRentPrice,tradeDayClusterCode,tradeDayClusterName,tradeYearMonth
0,2222438866,원룸형 아파트,R0,OR,원룸,C01,방,B2,월세,SITE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2222438866,원룸형 아파트,R0,OR,원룸,C01,방,B2,월세,SITE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2222435219,원룸형 아파트,R0,OR,원룸,C01,방,B1,전세,SITE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2222363242,일반원룸,R0,OR,원룸,C01,방,B2,월세,SITE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2222466680,오피스텔,R0,OR,원룸,C01,방,B1,전세,SITE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24005,2218624778,동원월드타운,R0,APT,아파트,A01,아파트,A1,매매,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24006,2218622136,도화3지구우성,R0,APT,아파트,A01,아파트,A1,매매,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24007,2218611334,일반사무실,R0,SMS,사무실,D01,사무실,B2,월세,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24008,2218608211,일반사무실,R0,SMS,사무실,D01,사무실,B2,월세,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24009,2218604829,다가구,R0,DDDGG,단독/다가구,C03,단독/다가구,B2,월세,NONE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data_pd = data_pd[['articleNo','articleName','realEstateTypeName','articleRealEstateTypeName','tradeTypeName','rentPrc','dealOrWarrantPrc','area1',
                   'area2','floorInfo',
                  'articleConfirmYmd','direction','articleFeatureDesc','tagList','buildingName'
                  ,'latitude','longitude','realtorName']]

In [36]:
data_pd2  = data_pd.loc[data_pd['realEstateTypeName'] == '상가']

In [37]:
data_pd2 = data_pd2.reset_index()
data_pd2 = data_pd2.drop(['index'],axis=1)

In [38]:
df2 = data_pd2[['tradeTypeName',"rentPrc",'dealOrWarrantPrc','area2','floorInfo',"direction",'latitude','longitude']]

In [39]:
df2['rentPrc'].fillna(0,inplace=True) #매매 월세 NaN값 0으로 치환

D:\anaconda\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [40]:
dr_index = df2.loc[df2['latitude'] == "0"].index

In [41]:
df2.drop(dr_index,inplace=True)

D:\anaconda\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [44]:
df2 = df2.reset_index()
df2 = df2.drop(['index'],axis=1)

In [32]:
df2.to_csv("마포구 부동산.csv", encoding='utf-8-sig')